<?php
defined('BASEPATH') or exit('No direct script access allowed');
/*
|--------------------------------------------------------------------------
| Defino zona horaria
|-------------------------------------------------------------------------- 
*/
date_default_timezone_set('America/Argentina/Buenos_Aires');
/*
|--------------------------------------------------------------------------
| Configuraciónes personalizadas
|-------------------------------------------------------------------------- 
*/

$config['site_config'] = (object) array(
	'base_url'	    => 'http://localhost:8080/ria', //URL de inicio ejemplo https://localhost NO FINALIZAR CON BARRA -> /
	'wp_url'		=> 'http://localhost:8080/ria/' . URI_WP,
	'db'	        => '',
	'db_username'   => '',
	'db_password'   => '',
);


/*
|--------------------------------------------------------------------------
| Configuraciónes de servidor de correo
|-------------------------------------------------------------------------- 
*/

$config['email_config'] = (object) array(
	'protocol'      => 'smtp',
	'smtp_host'     => '',
	'smtp_port'     => 587,
	'smtp_user'     => '',
	'smtp_pass'     => '',
	'mailtype'      => 'html',
	'charset'       => 'utf-8',
	'wrapchars'		=> 200,
	'newline'       => "\r\n",
	'crlf'			=> "\r\n",
	'wordwrap'      => FALSE,
);

$config['no_reply'] = (object) array(
	'from_email'	=> '', // ejemplo noreply@ejemplo.com
	'from_name'		=> 'No responder' // ejemplo No responder
);

/*
|--------------------------------------------------------------------------
| Configuración de Re-captcha google v3.
|-------------------------------------------------------------------------- 
*/

$config['data_captcha_google'] = (object) array(
	'url'       =>  'https://www.google.com/recaptcha/api/siteverify',
	'siteKey'   => '',
	'secretKey' =>  '',
);
/*
|--------------------------------------------------------------------------
| Configuración de apiKey de Google Maps
|-------------------------------------------------------------------------- 
*/

$config['google_maps'] = (object) array(
	'api_key'       =>  '',
);
/*
|--------------------------------------------------------------------------
| Configuraciónes de la base de datos
| (configuraciones básicas, para mas configuraciones ir a ./application/config/database)
|-------------------------------------------------------------------------- 
*/

$config['db'] = (object) array(
	'hostname' => 'localhost:3307',
	'username' => $config['site_config']->db_username,
	'password' => $config['site_config']->db_password,
	'database' => $config['site_config']->db,
	'dbprefix' => '',
);

/*
|--------------------------------------------------------------------------
| Configuraciónes login google
|-------------------------------------------------------------------------- 
*/

$config['google_api'] = (object) array(
	'setClientId' => '',
	'setClientSecret' => '',
	'setRedirectUri' => 'auth/google_login'
);

/*
|--------------------------------------------------------------------------
| Configuraciónes login google
|-------------------------------------------------------------------------- 
*/

$config['linkedin_api'] = (object) array(
	'clientId'			=> '',
	'clientSecret'		=> '',
	'redirectUri'		=> 'auth/linkedin_login',
	'scope' 			=> 'r_liteprofile r_emailaddress w_member_social',
	'urlAuthorization'	=>'https://www.linkedin.com/oauth/v2/authorization?',
	'urlAccessToken' 	=>'https://www.linkedin.com/oauth/v2/accessToken?',
	'urlGetProfileData' => 'https://api.linkedin.com/v2/me?projection=(id,firstName,lastName)',
	'urlGetEmailData' 	=> 'https://api.linkedin.com/v2/emailAddress?q=members&projection=(elements*(handle~))',
);
